.icon {
    display: inline-block;
    height: 100px;
    width: 100px;
    fill: inherit;
    stroke: inherit;
    width: 50px;
    height: 50px;
}

.icon {
	transition: opacity .2s ease;
}

.bed {
	position: relative;

	&:hover .icon-bedroom {
		opacity: 0;
	}

	&:hover .icon-bedroom_active {
		opacity: 1;
	}
}

.icon-bedroom_active {
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	
}


ul {
    margin-top: 50px;
    text-align: center;

    li {
        display: inline-block;
        margin-right: 40px;
        margin-bottom: 40px;
    }
}

a {
    display: block;
    position: relative;
}

.cls-1 {
    fill: #020203;
}